<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center align-items-center text-center">
      {% for client in section.clients %}
      <div class="col-6 col-md-3 col-lg-2 mb-4 px-3">
        <span class="client-name">{{ client.name }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
